In [1]:
# ## WeatherPy

# In this example, you'll be creating a Python script to visualize the weather of 500+ cities across the world of varying 
#  distance from the equator. To accomplish this, you'll be utilizing a [simple Python library]
# (https://pypi.python.org/pypi/citipy), the [OpenWeatherMap API](https://openweathermap.org/api), and 
# a little common sense to create a representative model of weather across world cities.
# * You may want to start this assignment by refreshing yourself on the [geographic coordinate system]
# (http://desktop.arcgis.com/en/arcmap/10.3/guide-books/map-projections/about-geographic-coordinate-systems.htm).

In [2]:
#dependencies
import numpy as np
import requests
import pandas as pd
import json
from citipy import citipy
from random import uniform
import matplotlib.pyplot as plt
from config import api_key

In [3]:
# * Next, spend the requisite time necessary to study the OpenWeatherMap API. Based on your initial study, you should be 
# able to answer  basic questions about the API: Where do you request the API key? Which Weather API in particular will you 
# need? What URL endpoints does it expect? What JSON structure does it respond with? Before you write a line of code, 
# you should be aiming to have a crystal clear understanding of your intended outcome.

#http://api.openweathermap.org/data/2.5/forecast?id=524901&APPID={APIKEY}
#api.openweathermap.org/data/2.5/weather?q={city name},{country code}
#&units=metric

In [4]:
# * Though we've never worked with the [citipy Python library](https://pypi.python.org/pypi/citipy), push yourself to decipher 
# how it works, and why it might be relevant. Before you try to incorporate the library into your analysis, start by creating 
# simple test cases outside your main script to confirm that you are using it correctly. Too often, when introduced to a new 
# library, students get bogged down by the most minor of errors -- spending hours investigating their entire code -- when, in 
# fact, a simple and focused test would have shown their basic utilization of the library was wrong from the start. Don't let 
# this be you!

In [5]:
# * Part of our expectation in this challenge is that you will use critical thinking skills to understand how and why we're 
# recommending the tools we are. What is Citipy for? Why would you use it in conjunction with the OpenWeatherMap API? How would 
# you do so?

In [6]:
# * In building your script, pay attention to the cities you are using in your query pool. Are you getting coverage of the full 
# gamut of latitudes and longitudes? Or are you simply choosing 500 cities concentrated in one region of the world? Even if you 
# were a geographic genius, simply rattling 500 cities based on your human selection would create a biased dataset. Be thinking 
# of how you should counter this. (Hint: Consider the full range of latitudes).
cities_df = pd.DataFrame()
cities_df["Latitude"] = [np.random.uniform(-90, 90) for x in range(1500)]
cities_df["Longitude"] = [np.random.uniform(-180, 180) for x in range(1500)]
cities_df["City"] = ""
cities_df["Country"] = ""

In [7]:
for index, row in cities_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    cities_df.set_value(index, "City", citipy.nearest_city(lat, lng).city_name)
    cities_df.set_value(index, "Country", citipy.nearest_city(lat, lng).country_code)
cities_df.head()

    Latitude   Longitude          City Country
0  -3.208523  157.614455         kieta      pg
1  73.420672   41.425350     ostrovnoy      ru
2 -18.660599  105.058272     carnarvon      au
3 -79.675383  -26.911284       ushuaia      ar
4 -66.091413  -82.177406  punta arenas      cl

In [8]:
cities_df = cities_df.drop_duplicates("City")
cities_df.count()

Latitude     603
Longitude    603
City         603
Country      603
dtype: int64

In [9]:
cities_df["Location"] = cities_df.City.str.cat(cities_df.Country, sep=",")
cities_df.head()

    Latitude   Longitude          City Country         Location
0  -3.208523  157.614455         kieta      pg         kieta,pg
1  73.420672   41.425350     ostrovnoy      ru     ostrovnoy,ru
2 -18.660599  105.058272     carnarvon      au     carnarvon,au
3 -79.675383  -26.911284       ushuaia      ar       ushuaia,ar
4 -66.091413  -82.177406  punta arenas      cl  punta arenas,cl

In [10]:
cities_df["Temperature"] = ""
cities_df["Humidity"] = ""
cities_df["Cloudiness"] = ""
cities_df["Wind Speed"] = ""
cities_df.head()

,Latitude,Longitude,City,Country,Location,Temperature,Humidity,Cloudiness,Wind Speed
0,-3.208523,157.614455,kieta,pg,"kieta,pg",,,,
1,73.420672,41.425350,ostrovnoy,ru,"ostrovnoy,ru",,,,
2,-18.660599,105.058272,carnarvon,au,"carnarvon,au",,,,
3,-79.675383,-26.911284,ushuaia,ar,"ushuaia,ar",,,,
4,-66.091413,-82.177406,punta arenas,cl,"punta arenas,cl",,,,

In [11]:
for index, row in cities_df.iterrows():
    locations = row["Location"]

In [23]:
url="http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

query_url = url +"appid=" + api_key + "&units=" + units + "&q="

'http://api.openweathermap.org/data/2.5/weather?appid=7cf0c44cbce71e0a4903db0f100ff61e&units=imperial&q='

In [25]:
weather_data = []

for location in locations:
    response = requests.get(query_url + locations).json()
    #weather_data.append(response)
   
response

'http://api.openweathermap.org/data/2.5/weather?appid=7cf0c44cbce71e0a4903db0f100ff61e&units=imperial&q='

In [14]:
cities_df.set_value(index, "Temperature", weather_data[0]["main"]["temp"])
cities_df.set_value(index, "Humidity", weather_data[0]["main"]["humidity"])
cities_df.set_value(index, "Cloudiness", weather_data[0]["clouds"]["all"])
cities_df.set_value(index, "Wind Speed", weather_data[0]["wind"]["speed"])

        
cities_df.head()

,Latitude,Longitude,City,Country,Location,Temperature,Humidity,Cloudiness,Wind Speed
0,-3.208523,157.614455,kieta,pg,"kieta,pg",,,,
1,73.420672,41.425350,ostrovnoy,ru,"ostrovnoy,ru",,,,
2,-18.660599,105.058272,carnarvon,au,"carnarvon,au",,,,
3,-79.675383,-26.911284,ushuaia,ar,"ushuaia,ar",,,,
4,-66.091413,-82.177406,punta arenas,cl,"punta arenas,cl",,,,

In [15]:
cities_df = cities_df.dropna()
cities_df.head()

,Latitude,Longitude,City,Country,Location,Temperature,Humidity,Cloudiness,Wind Speed
0,-3.208523,157.614455,kieta,pg,"kieta,pg",,,,
1,73.420672,41.425350,ostrovnoy,ru,"ostrovnoy,ru",,,,
2,-18.660599,105.058272,carnarvon,au,"carnarvon,au",,,,
3,-79.675383,-26.911284,ushuaia,ar,"ushuaia,ar",,,,
4,-66.091413,-82.177406,punta arenas,cl,"punta arenas,cl",,,,

In [16]:
# Your objective is to build a series of scatter plots to showcase the following relationships:

# * Temperature (F) vs. Latitude

In [17]:
# * Humidity (%) vs. Latitude

In [18]:
# * Cloudiness (%) vs. Latitude

In [19]:
# * Wind Speed (mph) vs. Latitude

In [20]:
# Your final notebook must:

# * Randomly select **at least** 500 unique (non-repeat) cities based on latitude and longitude.
# * Perform a weather check on each of the cities using a series of successive API calls.
# * Include a print log of each city as it's being processed with the city number, city name, and requested URL.
# * Save both a CSV of all data retrieved and png images for each scatter plot.

In [21]:
# As final considerations:

# * You must use Matplotlib to create your plots.
# * You must include a written description of three observable trends based on the data.
# * You must use proper labeling of your plots, including aspects like: Plot Titles (with date of analysis) and Axes Labels.
# * You must include an exported markdown version of your Notebook called  `README.md` in your GitHub repository.
# * See [Example Solution](WeatherPy_Example.pdf) for a reference on expected format.

In [22]:
# ## Hints and Considerations

# * Lastly, remember -- this is a challenging activity. Push yourself! If you complete this task, then you can safely say that 
# you've gained a strong mastery of the core foundations of data analytics and it will only go better from here. Good luck!